.sidebar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235,235,235);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}

@media (max-width: 750px) {
  .sidebar {
    width: 100%;
    top: auto;
    bottom: 0px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgb(228,228,228);
    padding-top: 0px;
  }

  .sidebar-link {
    height: 100%;
    flex: 1;
    font-size: 12px;
  }

  .sidebar-link img {
    height: 28px;
  }

  .sidebar-link div {
    font-size: 11px;
  }
}
